<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ t.title }}</title>
  <link rel="stylesheet" href="./styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="./app.js"></script>
</head>

<body data-ng-app="portfolioApp" data-ng-controller="MainController" data-ng-cloak>
  <header>
    <nav class="menu">
      <ul>
        <li><a href="#about">{{ t.aboutTitle }}</a></li>
        <li><a href="#expiriece">{{ t.expirieceTitle }}</a></li>
        <li><a href="#education">{{ t.educationTitle }}</a></li>
        <li><a href="#skill">{{ t.skillTitle }}</a></li>
      </ul>
    </nav> 
  </header>

  <h1>{{t.name}}</h1>
  <h2>{{t.job}}</h2>
  <section class="my-img">
    <alt img src="img/109848580_1554428914717880_1866185555887725665_n.jpg">
  </section>
  <div class="social-icons">
    <a href="https://github.com/Soweleq" target="_blank" title="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://x.com/Sowel30197298" target="_blank" title="X (Twitter)">
      <i class="fab fa-x-twitter"></i>
    </a>
    <a href="https://www.facebook.com/sebastian.sowa.562?locale=pl_PL" target="_blank" title="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
  </div>  

  <section id="about">
    <div class="about">
      <div class="about-divider">
        <span>{{ t.aboutHead }}</span>
      </div>
      <p>{{t.aboutText}}</p>
    </div>
  </section>

  <section id="expiriece">
    <div class="expiriece">
      <div class="expiriece-divider">
        <span>{{ t.expirieceHead }}</span>
      </div>
      <ul class="job-list">
        <li><strong>{{t.expirieceDate}}:</strong> {{t.expirieceText}}</li>
      </ul>
    </div>
  </section>

  <section id="education">
    <div class="education">
      <div class="education-divider">
        <span>{{ t.educationHead}}</span>
      </div>
      <ul class="edu-list">
        <li><strong>2018-2021:</strong> {{t.educationText1}}</li>
        <li><strong>{{t.educationDate}}:</strong> {{t.educationText2}}</li>
      </ul>
    </div>
  </section>

    <section id="skill">
    <div class="skill">
      <div class="skill-divider">
        <span>{{ t.skillHead}}</span>
      </div>
      <ul class="skill-list">
        <li>{{t.skillText1}}</li>
        <li>{{t.skillText2}}</li>
        <li>{{t.skillText3}}</li>
        <li>{{t.skillText4}}</li>
        <li>{{t.skillText5}}</li>
        <li>{{t.skillText6}}</li>
        <li>{{t.skillText7}}</li>
      </ul>
    </div>
  </section>

  <footer class="footer">
    {{ t.footer }}   
  </footer>
  
  <div class="lang-switcher" >
    <img src="https://flagcdn.com/w20/pl.png" alt="Polski" ng-click="changeLang('pl')" class="flag" />
    <img src="https://flagcdn.com/w20/gb.png" alt="English" ng-click="changeLang('en')" class="flag" />
  </div>

  <div class="cookie-banner" ng-if="showCookies">
  <p class="cookie-text">{{ t.cookies }}</p>
  <div class="cookie-buttons">
    <button ng-click="acceptCookies()">{{ t.accept }}</button>
    <button ng-click="declineCookies()">{{ t.decline }}</button>
  </div>
</div>

</body>
</html>
